* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para melhor controle de layout */
}
.fundo {
    background-image: linear-gradient(45deg, black, rgb(134, 4, 248));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#visor {
    background-color: white;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: black;
}
.igual {
    height: 130px;
    background-color: rgb(255, 94, 0);
}
.igual:hover {
    background-color: rgb(220, 80, 0);
}
.zero {
    width: 125px;
}
